.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  &__user {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    color: var(--accent-color-secondary);

    & div {
      transform: translateY(3px);
      // 450px
      @media (max-width: 28.125em) {
        display: none;
      }
    }
  }

  &__btn {
    width: 6rem;
    height: 4rem;
    font-weight: 500;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    & div {
      transform: translate(-3px, 2px);

      & svg {
        // 450px
        @media (max-width: 28.125em) {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
}
